<div class="row" style="margin-top:5%;">    
    <a class="btn btn-success col-md-offset-5" routerLink="/createRegion">Create region</a>
    <div style="margin-top:5%;" class="col-md-offset-1 col-md-8" *ngIf="rowData">
        <h2 (click)="onSort()" style="cursor:pointer" title="click to sort">
            Regions <span class="glyphicon glyphicon-triangle-bottom" *ngIf="sort===true"></span><span class="glyphicon glyphicon-triangle-top" *ngIf="sort===false"></span>
        </h2>
        <ul class="list-group">
            <li *ngFor="let row of rowData" class="list-group-item">
                {{row.name}}
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle" data-toggle="dropdown" id="dLabel" role="button">
                        <span class="glyphicon glyphicon-option-vertical"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a role="button" (click)="onEdit(row.id)">Edit</a></li>
                        <li><a (click)="onDelete(row.id)" role="button">Delete</a></li>                      
                    </ul>
                </div>
            </li>
        </ul>
    </div>

</div>